body {
    background-color: rgb(234, 251, 251);
}

.error {
    background-color: rgb(231, 123, 123);
}

.normal-list {
    font-size: larger;
}

ul.normal-list {
    border-left: 5px solid red;
    background-color: #f1f1f1;
    list-style-type: none;
    padding: 10px 20px;
}

.normal-list li {
    margin-bottom: 1em;
}

form {
    margin: 5px;
    padding: 20px;
    background-color: antiquewhite;
    border: 2px black dotted;
}

.navbar {
    top: 0;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: rgb(21, 3, 35);
    color:rgb(195, 243, 243);
    font-size:larger;
}

.navbar a {
    color: rgb(195, 243, 243);
}

.navbar li {
    float: left;
    display: block;
    padding: 8px;
}

.navbar li:hover {
    background-color: rgb(30, 2, 51)
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.container {
    border: 1px black dotted;
    color: rgb(21, 3, 35);
    background-color: rgb(220, 241, 241);
    justify-content: center;
    float: center;
    max-width: 90%;
    margin: auto;
    padding: 2em;
}

.container form {
    width:fit-content;
    float: center;
    margin: auto;
}

.container h1 {
    text-align: center;
}