{% extends "base.html" %}
{% load myfilters %}

{% block title %}Log in{% endblock title %}

{% block content %}
<div class="container">
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{message}}</li>
    {% endfor %}
    </ul>
    {% endif %}
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper form-group">
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field|addclass:'form-control'}}

                {% if field.help_text %}
                <p class="help" id="{{ field.auto_id }}_helptext">
                    {{ field.help_text|safe }}
                </p>
                {% endif %}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary">Log in</button>
    </form>
</div>
{% endblock content %}