{% extends "base.html" %}
{% load myfilters %}

{% block title %}Register{% endblock title %}

{% block content %}
<div class="container">
    {% if messages %}
    <div class="alert alert-info">
        <ul>
            {% for message in messages %}
                <li>{{message}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field|addclass:'form-control' }}

                {% if field.help_text %}
                <small class="form-text text-muted" id="{{ field.auto_id }}_helptext">
                    {{ field.help_text|safe }}
                </small>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary mt-3">Register</button>
    </form>
</div>
{% endblock content %}
