<h2>Want to book this room?</h2>
<form action="{% url 'book' room.id %}" method="post">
    {% csrf_token %}

    <div class="form-group">
        <label for="start-date">Start date:</label>
        <input type="date" id="start-date" name="start-date" min="2024-01-23" max="2100-12-31" required class="form-control">
    </div>

    <div class="form-group">
        <label for="end-date">End date:</label>
        <input type="date" id="end-date" name="end-date" min="2024-01-23" max="2100-12-31" required class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Book!</button>
 </form>