{% extends "booking_system/base.html" %}
{% load static %}

{% block title %}Booking{% endblock title %}

{% block content %}
<div class="container-lg">
  <h1  class="text-primary">Room <strong>{{ room.name }}</strong> in hotel "<a href="{% url 'hotel' hotel_id %}">{{ hotel_name }}</a>"</h1>
  <form action="{% url 'book' room.id %}" method="post">
    {% csrf_token %}

    <div class="form-group">
      <label for="start-date">Start date:</label>
      <input type="date" id="start-date" name="start-date" min="2024-01-23" max="2100-12-31" required class="form-control">
    </div>

    <div class="form-group">
      <label for="end-date">End date:</label>
      <input type="date" id="end-date" name="end-date" min="2024-01-23" max="2100-12-31" required class="form-control">
    </div>

    <div class="form-group">
      <label for="email">E-mail:</label>
      <input type="text" id="email" name="email" required class="form-control">
    </div>

    <div class="form-group">
      <label for="user-name">Full name:</label>
      <input type="text" id="user-name" name="user-name" required class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock content %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'booking_system/js/booking_form.js' %}" type="text/javascript" data-roomid="{{room.id|safe}}"></script>
{% endblock js %}