{% extends "base.html" %}

{% block title %}Bookings{% endblock title %}

{% block content %}
<div class="container">
    <h1 class="text-primary">Your bookings</h1>
    <div class="row">
        {% for booking in bookings %}
            <div class="card mb-3 bg-light">
                <div class="card-body">
                    <h3 class="card-title text-secondary">Room <a href="{% url 'room' booking.room.id%}">{{booking.room.name}}</a> at {{booking.room.hotel.name}}</h3>
                    <p class="card-text"><strong>From:</strong> {{booking.start_date}}</p>
                    <p class="card-text"><strong>To:</strong> {{booking.end_date}}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}