{% extends "base.html" %}
{% load static %}

{% block title %}{{hotel.name}}{% endblock title %}

{% block content %}
<div class="container">
    <h1 class="text-primary">Hotel {{hotel.name}}</h1>
    <div class="grid text-center row">
      <p class="col-xs-12 col-sm-12 col-md-4 col-lg-6">{{hotel.description}}</p>
      {% if hotel.image %}
      <img class="img-thumbnail col-xs-12 col-sm-12 col-md-8 col-lg-6"src="{% static hotel.image.url %}" {% if hotel.image.alt_text %}alt="{{hotel.image.alt_text}}"{% endif %}>
      {% endif %}
    </div>
    <h1 class="text-primary">{{ hotel.name }}'s rooms:</h1>
    <ul class="list-group list-group-flush">
      {% for room in rooms %}
        <li class="list-group-item bg-light"><a href="{% url 'booking_form' room.id%}">{{ room.name }}</a></li>
      {% endfor %}
    </ul>
</div>
{% endblock content %}