{% extends "base.html" %}
{% load static %}

{% block title %}Booking{% endblock title %}

{% block content %}
<div class="container">
  <div class="grid row">
  <h1  class="text-primary">Room <strong>{{ room.name }}</strong> in hotel "<a href="{% url 'hotel' hotel_id %}">{{ hotel_name }}</a>"</h1>
  {% if room.image %}
  <img class="img-thumbnail col-xs-12 col-sm-12 col-md-8 col-lg-6" src="{% static room.image.url %}" {% if room.image.alt_text %}alt="{{room.image.alt_text}}"{% endif %}>
  {% endif %}
  <div class="col-lg-6 col-md-4">
    {% if authenticated %}
      {% include "booking_system/booking_form.html" %}
    {% else %}
    <p>If you want to book a room, <a href="{% url 'register' %}">register</a> or <a href="{% url 'login' %}">log in</a>.</p>
    {% endif %}
    </div>
  </div>
  
  <h2>Experiences of our guests</h2>
  <p>These reviews should only be related to this specific room.</p>
  {% include "booking_system/review_block.html" %}

</div>
{% endblock content %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'booking_system/js/room.js' %}" type="text/javascript" data-roomid="{{room.id|safe}}"></script>
{% endblock js %}