{% extends "base.html" %}
{% load static %}

{% block title %}Booking service{% endblock title %}

{% block content %}
<div class="container">
    <h1 class="text-primary">Welcome to our website!</h1>
    <p>Here you can book a room for a specific amount of days and see, what do other users think about the room.</p>
    <p>Search for our hotels:</p>
    <form id="filter-form" action="{% url 'hotels' %}" method="get" class="row gx-3 align-items-center">
        <div class="col-auto">
            <label class="visually-hidden" for="country">Country</label>
            <select id="country" name="country" class="form-select">
                <option value="">All Countries</option>
                {% for country in countries %}
                <option value="{{ country.id }}">{{ country.name }}</option>
                {% endfor %}
            </select>
        </div>
    
        <div class="col-auto">
            <label class="visually-hidden" for="city">City</label>
            <select id="city" name="city" class="form-select">
                <option value="">All Cities</option>
            </select>
        </div>
    
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Filter</button>
        </div>
    </form>    
</div>
{% endblock %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'hotels/js/city_update.js' %}"></script>
{% endblock js %}